<?xml version="1.0"?>
<config>
	<modules>
		<Fishpig_AttributeSplash_Addon_XmlSitemap>
			<version>1.0.0.0</version>
		</Fishpig_AttributeSplash_Addon_XmlSitemap>
	</modules>
	<global>
		<blocks>
			<attributeSplash_addon_xmlsitemap>
				<class>Fishpig_AttributeSplash_Addon_XmlSitemap_Block</class>
			</attributeSplash_addon_xmlsitemap>
		</blocks>
		<events>
			<attributeSplash_match_routes_before>
				<observers>
					<attributesplash_addon_xmlsitemap>
						<type>singleton</type>
						<class>Fishpig_AttributeSplash_Addon_XmlSitemap_Model_Observer</class>
						<method>matchXmlSitemapRouteObserver</method>
					</attributesplash_addon_xmlsitemap>
				</observers>
			</attributeSplash_match_routes_before>
		</events>
	</global>
	<default>
		<attributeSplash>
			<page_xml_sitemap>
				<enabled>1</enabled>
				<frequency>daily</frequency>
				<priority>0.8</priority>
			</page_xml_sitemap>
			<group_xml_sitemap>
				<enabled>1</enabled>
				<frequency>weekly</frequency>
				<priority>0.5</priority>
			</group_xml_sitemap>
			<seo>
				<xml_sitemap_file>splash-pages-sitemap.xml</xml_sitemap_file>
			</seo>
		</attributeSplash>
	</default>
</config>