<?xml version="1.0"?>
<config>
    <sections>
        <attributeSplash>
            <groups>
            	<page_xml_sitemap>
            		<label>Pages - XML Sitemap</label>
            		<sort_order>7</sort_order>
            		<show_in_default>1</show_in_default>
            		<show_in_website>1</show_in_website>
            		<show_in_store>1</show_in_store>
            		<fields>
            			<enabled>
            				<label>Enabled</label>
            				<frontend_type>select</frontend_type>
            				<source_model>adminhtml/system_config_source_yesno</source_model>
            				<sort_order>0</sort_order>
            				<show_in_default>1</show_in_default>
            				<show_in_website>1</show_in_website>
            				<show_in_store>1</show_in_store>
            			</enabled>
            			<frequency>
            				<label>Frequency</label>
            				<frontend_type>select</frontend_type>
            				<source_model>adminhtml/system_config_source_frequency</source_model>
            				<sort_order>1</sort_order>
            				<show_in_default>1</show_in_default>
            				<show_in_website>1</show_in_website>
            				<show_in_store>1</show_in_store>
            				<depends><enabled>1</enabled></depends>
            			</frequency>
            			<priority>
            				<label>Priority</label>
            				<frontend_type>text</frontend_type>
							<backend_model>adminhtml/system_config_backend_sitemap</backend_model>
            				<sort_order>6</sort_order>
            				<show_in_default>1</show_in_default>
            				<show_in_website>1</show_in_website>
            				<show_in_store>1</show_in_store>
            				<comment>Valid values range: from 0.0 to 1.0.</comment>
            				<depends><enabled>1</enabled></depends>
            			</priority>
            		</fields>
            	</page_xml_sitemap>
            	<group_xml_sitemap>
            		<label>Groups - XML Sitemap</label>
            		<sort_order>12</sort_order>
            		<show_in_default>1</show_in_default>
            		<show_in_website>1</show_in_website>
            		<show_in_store>1</show_in_store>
            		<fields>
            			<enabled>
            				<label>Enabled</label>
            				<frontend_type>select</frontend_type>
            				<source_model>adminhtml/system_config_source_yesno</source_model>
            				<sort_order>0</sort_order>
            				<show_in_default>1</show_in_default>
            				<show_in_website>1</show_in_website>
            				<show_in_store>1</show_in_store>
            			</enabled>
            			<frequency>
            				<label>Frequency</label>
            				<frontend_type>select</frontend_type>
            				<source_model>adminhtml/system_config_source_frequency</source_model>
            				<sort_order>1</sort_order>
            				<show_in_default>1</show_in_default>
            				<show_in_website>1</show_in_website>
            				<show_in_store>1</show_in_store>
            				<depends><enabled>1</enabled></depends>
            			</frequency>
            			<priority>
            				<label>Priority</label>
            				<frontend_type>text</frontend_type>
							<backend_model>adminhtml/system_config_backend_sitemap</backend_model>
            				<sort_order>6</sort_order>
            				<show_in_default>1</show_in_default>
            				<show_in_website>1</show_in_website>
            				<show_in_store>1</show_in_store>
            				<comment>Valid values range: from 0.0 to 1.0.</comment>
            				<depends><enabled>1</enabled></depends>
            			</priority>
            		</fields>
            	</group_xml_sitemap>
            	<seo>
            		<fields>
            			<xml_sitemap_file>
            				<label>XML Sitemap File</label>
            				<frontend_type>text</frontend_type>
            				<sort_order>200</sort_order>
            				<show_in_default>1</show_in_default>
            				<show_in_website>1</show_in_website>
            				<show_in_store>1</show_in_store>
            			</xml_sitemap_file>
            		</fields>
            	</seo>
            </groups>
        </attributeSplash>
    </sections>
</config>