<?xml version="1.0"?>
<config>
	<modules>
		<Fishpig_AttributeSplash>
			<version>2.0.17</version>
		</Fishpig_AttributeSplash>
	</modules>
	<global>
		<helpers>
			<attributeSplash>
				<class>Fishpig_AttributeSplash_Helper</class>
			</attributeSplash>		
		</helpers>
		<blocks>
			<attributeSplash>
				<class>Fishpig_AttributeSplash_Block</class>
			</attributeSplash>
			<catalog>
				<rewrite>
					<product_view_attributes>Fishpig_AttributeSplash_Block_Catalog_Product_View_Attributes</product_view_attributes>
				</rewrite>
			</catalog>
		</blocks>
		<models>
			<attributeSplash>
				<class>Fishpig_AttributeSplash_Model</class>
				<resourceModel>attributeSplash_mysql4</resourceModel>
			</attributeSplash>
			<attributeSplash_mysql4>
				<class>Fishpig_AttributeSplash_Model_Mysql4</class>
				<entities>
					<group>
						<table>attributesplash_group</table>
					</group>
					<page>
						<table>attributesplash_page</table>
					</page>
				</entities>
			</attributeSplash_mysql4>
			<catalog>
				<rewrite>
					<layer_filter_item>Fishpig_AttributeSplash_Model_Layer_Filter_Item</layer_filter_item>
				</rewrite>
			</catalog>
			<sitemap>
				<rewrite>
					<sitemap>Fishpig_AttributeSplash_Model_Sitemap</sitemap>
				</rewrite>
			</sitemap>
		</models>
		<resources>
			<attributeSplash_setup>
				<setup>
					<module>Fishpig_AttributeSplash</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</attributeSplash_setup>
			<attributeSplash_read>
				<connection>
					<use>core_read</use>
				</connection>
			</attributeSplash_read>
			<attributeSplash_write>
				<connection>
					<use>core_write</use>
				</connection>
			</attributeSplash_write>
		</resources>
	</global>
	<admin>
		<routers>
			<attributeSplash_admin>
				<use>admin</use>
				<args>
					<module>Fishpig_AttributeSplash</module>
					<frontName>splash_admin</frontName>
				</args>
			</attributeSplash_admin>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<attributeSplash>
					<file>attribute-splash.xml</file>
				</attributeSplash>
			</updates>
		</layout>
		<events>
			<admin_system_config_changed_section_attributeSplash>
				<observers>
					<attributeSplash_rewrite_fix>
						<type>singleton</type>
						<class>attributeSplash/observer_config</class>
						<method>checkRewrites</method>
					</attributeSplash_rewrite_fix>
				</observers>
			</admin_system_config_changed_section_attributeSplash>
		</events>
	</adminhtml>
	<frontend>
		<routers>
			<attributeSplash>
				<use>standard</use>
				<args>
					<module>Fishpig_AttributeSplash</module>
					<frontName>splash</frontName>
				</args>
			</attributeSplash>
		</routers>
		<layout>
			<updates>
				<attributeSplash>
					<file>attribute-splash.xml</file>
				</attributeSplash>
			</updates>
		</layout>
	</frontend>
	<default>
		<attributeSplash>
			<frontend>
				<template/>
				<navigation>1</navigation>
				<inject_links>1</inject_links>
				<navigation_container>left</navigation_container>
				<navigation_template/>
				<grid_column_count>3</grid_column_count>
			</frontend>
			<list_page>
				<enabled>0</enabled>
				<template/>
				<display_mode>3</display_mode>
				<list_per_page>0</list_per_page>
				<grid_per_page>0</grid_per_page>
				<simple_per_page>0</simple_per_page>
				<grid_column_count>3</grid_column_count>
			</list_page>
			<images>
				<splash_image_width>200</splash_image_width>
				<splash_image_height>200</splash_image_height>
				<splash_image_keep_frame>0</splash_image_keep_frame>
				<splash_thumbnail_width>200</splash_thumbnail_width>
				<splash_thumbnail_height>200</splash_thumbnail_height>
				<splash_thumbnail_keep_frame>0</splash_thumbnail_keep_frame>
			</images>
			<product>
				<inject_links>1</inject_links>
			</product>
			<navigation>
				<inject>0</inject>
				<inject_after>1</inject_after>
				<inject_together>0</inject_together>
				<inject_together_title>Shop By</inject_together_title>
			</navigation>
			<seo>
				<url_suffix>.html</url_suffix>
				<append_title_suffix>1</append_title_suffix>
				<use_canonical>1</use_canonical>
			</seo>
			<sitemap>
				<enabled>1</enabled>
				<page_change_frequency>weekly</page_change_frequency>
				<page_priority>0.8</page_priority>
				<group_change_frequency>weekly</group_change_frequency>			
				<group_priority>0.2</group_priority>
			</sitemap>
		</attributeSplash>
	</default>
</config>