<?xml version="1.0"?>
<config>
	<modules>
		<Fishpig_AttributeSplash>
			<version>1.0.3</version>
		</Fishpig_AttributeSplash>
	</modules>
	<global>
		<blocks>
			<attributeSplash>
				<class>Fishpig_AttributeSplash_Block</class>
			</attributeSplash>
		</blocks>
		<helpers>
			<attributeSplash>
				<class>Fishpig_AttributeSplash_Helper</class>
			</attributeSplash>
		</helpers>
		<models>
			<attributeSplash>
				<class>Fishpig_AttributeSplash_Model</class>
				<resourceModel>attributeSplash_mysql4</resourceModel>
			</attributeSplash>
			<attributeSplash_mysql4>
				<class>Fishpig_AttributeSplash_Model_Mysql4</class>
				<entities>
					<attribute>
						<table>eav_attribute</table>
					</attribute>
					<attribute_option>
						<table>eav_attribute_option</table>
					</attribute_option>
					<attribute_option_extra>
						<table>attributesplash_attribute_option_extra</table>
					</attribute_option_extra>
					<splash>
						<table>attributesplash_attribute_option_extra</table>
					</splash>
				</entities>
			</attributeSplash_mysql4>
		</models>
		<resources>
			<attributeSplash_setup>
				<setup>
					<module>Fishpig_AttributeSplash</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</attributeSplash_setup>
			<attributeSplash_write>
				<connection>
					<use>core_write</use>
				</connection>
			</attributeSplash_write>
			<attributeSplash_read>
				<connection>
					<use>core_read</use>
				</connection>
			</attributeSplash_read>
		</resources>
	</global>
	<frontend>
		<routers>
			<attributeSplash>
				<use>standard</use>
				<args>
					<module>Fishpig_AttributeSplash</module>
					<frontName>splash</frontName>
				</args>
			</attributeSplash>
		</routers>
		<layout>
			<updates>
				<attributeSplash>
					<file>attribute-splash.xml</file>
				</attributeSplash>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<attributeSplash>
				<use>admin</use>
				<args>
					<module>Fishpig_AttributeSplash</module>
					<frontName>attributesplash</frontName>
				</args>
			</attributeSplash>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<attributeSplash>
					<file>attribute-splash.xml</file>
				</attributeSplash>
			</updates>
		</layout>
		<menu>
			<catalog>
				<children>
					<attributes>
						<children>
							<attributeSplash>
								<title>Manage Splash Pages</title>
								<action>attributeSplash/adminhtml_splash_page</action>
								<sort_order>999</sort_order>
							</attributeSplash>
						</children>
					</attributes>
				</children>
			</catalog>
		</menu>
		<events>
			<admin_system_config_changed_section_attributeSplash>
				<observers>
					<attributeSplash_rewrite_fix>
						<type>singleton</type>
						<class>attributeSplash/observer_config</class>
						<method>checkRewrites</method>
					</attributeSplash_rewrite_fix>
				</observers>
			</admin_system_config_changed_section_attributeSplash>
		</events>
	</adminhtml>
	<default>
		<attributeSplash>
			<frontend>
				<template/>
				<navigation>1</navigation>
				<navigation_container>left</navigation_container>
				<navigation_template/>
				<grid_column_count>3</grid_column_count>
			</frontend>
			<list_page>
				<enabled>1</enabled>
				<template/>
				<display_mode>3</display_mode>
				<list_per_page>0</list_per_page>
				<grid_per_page>0</grid_per_page>
				<simple_per_page>0</simple_per_page>
				<grid_column_count>3</grid_column_count>
			</list_page>
			<seo>
				<url_suffix>.html</url_suffix>
				<append_title_suffix>1</append_title_suffix>
				<use_canonical>1</use_canonical>
			</seo>
		</attributeSplash>
	</default>
</config>