<?xml version="1.0"?>
<config>
	<modules>
		<Fishpig_AttributeSplash>
			<version>3.0.0.7</version>
		</Fishpig_AttributeSplash>
	</modules>
	<global>
		<helpers>
			<attributeSplash>
				<class>Fishpig_AttributeSplash_Helper</class>
			</attributeSplash>		
		</helpers>
		<blocks>
			<attributeSplash>
				<class>Fishpig_AttributeSplash_Block</class>
			</attributeSplash>
		</blocks>
		<models>
			<attributeSplash>
				<class>Fishpig_AttributeSplash_Model</class>
				<resourceModel>attributeSplash_resource</resourceModel>
			</attributeSplash>
			<attributeSplash_resource>
				<class>Fishpig_AttributeSplash_Model_Resource</class>
				<entities>
					<group><table>attributesplash_group</table></group>
					<group_store><table>attributesplash_group_store</table></group_store>
					<page><table>attributesplash_page</table></page>
					<page_store><table>attributesplash_page_store</table></page_store>
				</entities>
			</attributeSplash_resource>
		</models>
		<resources>
			<attributeSplash_setup>
				<setup>
					<module>Fishpig_AttributeSplash</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</attributeSplash_setup>
			<attributeSplash_read>
				<connection>
					<use>core_read</use>
				</connection>
			</attributeSplash_read>
			<attributeSplash_write>
				<connection>
					<use>core_write</use>
				</connection>
			</attributeSplash_write>
		</resources>
		<events>
			<controller_front_init_routers>
				<observers>
					<attributeSplash>
						<class>Fishpig_AttributeSplash_Controller_Router</class>
						<method>initControllerRouters</method>
					</attributeSplash>
				</observers>
			</controller_front_init_routers>
		</events>
	</global>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<attributeSplash before="Mage_Adminhtml">Fishpig_AttributeSplash_Adminhtml</attributeSplash>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<attributeSplash>
					<file>attribute-splash.xml</file>
				</attributeSplash>
			</updates>
		</layout>
	</adminhtml>
	<frontend>
		<routers>
			<attributeSplash>
				<use>standard</use>
				<args>
					<module>Fishpig_AttributeSplash</module>
					<frontName>splash</frontName>
				</args>
			</attributeSplash>
		</routers>
		<layout>
			<updates>
				<attributeSplash>
					<file>attribute-splash.xml</file>
				</attributeSplash>
			</updates>
		</layout>
		<events>
			<page_block_html_topmenu_gethtml_before>
				<observers>
					<attributeSplash>
						<type>singleton</type>
						<class>attributeSplash/observer</class>
						<method>injectTopmenuLinksObserver</method>
					</attributeSplash>
				</observers>
			</page_block_html_topmenu_gethtml_before>
		</events>
	</frontend>
	<default>
		<attributeSplash>
			<page>
				<column_count>4</column_count>
				<add_to_sitemap>1</add_to_sitemap>
			</page>
			<group>
				<column_count>4</column_count>
				<add_to_sitemap>1</add_to_sitemap>
			</group>
			<navigation>
				<enabled>1</enabled>
			</navigation>
			<seo>
				<url_suffix>.html</url_suffix>
			</seo>
		</attributeSplash>
	</default>
	<attributeSplash>
		<ads>
			<Fishpig_Crosslink>
				<url>http://fishpig.co.uk/magento/extensions/seo-internal-links/</url>
				<image>attribute-splash/addons/crosslink.png</image>
				<title>Crosslink</title>
				<subtitle>SEO Internal Links</subtitle>
				<description>Automatically cross link your products, categories, splash pages, CMS pages, blog posts and categories using Crosslinks.</description>
			</Fishpig_Crosslink>
			<Fishpig_Bolt>
				<url>http://fishpig.co.uk/magento/extensions/bolt-full-page-cache/</url>
				<image>attribute-splash/addons/bolt.png</image>
				<title>Bolt</title>
				<subtitle>Full Page Cache</subtitle>
				<description>Add enterprise level caching to Magento community with Bolt, Magento's fastest Full Page Cache extension.</description>
			</Fishpig_Bolt>
			<Fishpig_AttributeSplashPro>
				<url>http://fishpig.co.uk/magento/extensions/attribute-splash-pro/</url>
				<image>attribute-splash/addons/splash-pro.png</image>
				<title>Splash Pro</title>
				<subtitle>SEO Landing Pages</subtitle>
				<description>Create SEO landing pages quickly and easily using Splash Pro. Decide which products you want to display based on multiple attribute filters, category filters and price filters.</description>
			</Fishpig_AttributeSplashPro>
			<Fishpig_Wordpress_Addon_Multisite>
				<is_multistore>1</is_multistore>
				<url>http://fishpig.co.uk/magento/wordpress-integration/multisite/</url>
				<image>attribute-splash/addons/wordpress-multisite.png</image>
				<title>WordPress Integration</title>
				<subtitle>Multi-Store Blog Integration</subtitle>
				<description>Integrate a WordPress blog into your Magento theme in minutes with this free extension.</description>
			</Fishpig_Wordpress_Addon_Multisite>
			<Fishpig_Wordpress>
				<is_singlestore>1</is_singlestore>
				<url>http://fishpig.co.uk/magento/wordpress-integration/</url>
				<image>attribute-splash/addons/wordpress.png</image>
				<title>WordPress Integration</title>
				<subtitle>WordPress blog integration</subtitle>
				<description>Manage multiple blogs from a single WordPress Admin and integrate each blog with a different Magento store view</description>
			</Fishpig_Wordpress>
		</ads>
	</attributeSplash>
</config>